
.btn-container{
    display: flex;
    height: 320px;
    width:90px;
    gap:10px;
    flex-direction: column;
    margin-top:90px;
}

.btn{
    border-radius: 5px;
    border-style:1px solid black;
    flex:1;
}

.info-container{
    display: flex;
    height: 90px;
    width:320px;
    gap:10px;
    margin-left:190px;
}
.info{
    flex:1;
    border: 1px solid black;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-container{
    width:700px;
    height: 500px;
    position: relative;
    border: 3px solid black;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url("./images/wild-west-town.jpg");
    background-size: cover;
}

.diagonal-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 860px;
    height: 5px;
    background: black;

    transform: rotate(35.5deg);
    transform-origin: top left;
}

.game-container{
    width:842px;
    height: 620px;
    display: flex;
    gap:30px;
    margin-left: 30px;
    position: relative;
}

.screen-wrapper{
    display: flex;
    flex-direction: column;
    height: 620px;
    gap:30px;
}

.heart{
    height: 40px;
    width: 40px;
}
.heart-container-player{
    display: flex;
    gap:5px;
    height: 40;
    width: 220px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.heart-container-computer{
    display: flex;
    gap:5px;
    height: 40;
    width: 220px;
    position: absolute;
    top: 10px;
    right: 10px;
}


.stickman-player{
    position:absolute;
    height: 240px;
    width: 180px;
    bottom: 30px;
    left: 170px;
}

.stickman-enemy{
   position:absolute;
    height: 240px;
    width: 180px; 
    top:100px;
    right:70px;
}

#rock{
    background-image: url("./images/rock.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

#paper{
    background-image: url("./images/paper.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

#scissors{
    background-image: url("./images/scissors.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.audio-container{
    height: 36px;
    width: 18px;
    display: flex;
    flex-direction: column;
    gap:1px;
    position: absolute;
    bottom: 120px;
    right: 0px;
}

.audio{
    height: 18px;
    width: 18px;
}


#music-btn{
    background-image: url("./images/music-on.png");
    background-size: 350%;
    background-position: center;
    background-repeat: no-repeat;
}

#sound-btn{
    background-image: url("./images/sound-on.png");
    background-size: 350%;
    background-position: center;
    background-repeat: no-repeat;
}
